// Grid system

//overriding to give us 100% up to the xl breakpoint, then fixed
.container,
.main {
  width: 100%;
}

.section {
  width: 100%;

}

@include media-breakpoint-up(sm) {
  .container {
    padding: 0 30px;
  }

  .container {
    width: 100%;
  }

}

@include media-breakpoint-up(md) {
  .container {
    padding: 0 30px;
  }

  .home {
    .container {
      padding: 0 15px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .container {
    max-width: map-get($container-max-widths, lg);
  }
}

@include media-breakpoint-up(xl) {
  .container {
    max-width: map-get($container-max-widths, xl);
  }
}
